html{
    background-color: rgb(173, 216, 230);
    font-family: Calibri;
}

h1 {
font-size: 2em;
font-weight: bold;
}

h2 {
    font-size: 1.4em;
}

h3 {
    padding-top: 5px;
    font-size: 1.17em;
}

h4 {
 font-style: italic;
 padding-top: 5px;
 font-size: 1em;
}

a {
    text-decoration: none;
}

img {
    float: left;
    height: 150px; 
    margin: 10px;
    width: 150px;
}

.header {
    box-shadow: 0px 0px 7px #272525;
    color: white;
    height: 175px;
    background-image: url(images/header-boeken.jpg);
    text-align: center;
    font-size: 50px;
}

.hoofdtitel {
padding-top: 70px;
}

.searchbar{
    text-align: center;
    margin-top: 20px;
}

.resultTable {
    overflow: auto;
    box-shadow: 0px 0px 7px #272525;
    background-color: #FFFFFF;
    padding: 20px 20px 20px 20px;
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 20px;
    border: 2px solid grey;
    border-radius: 10px;
}


